.dishContaienr{
    display: flex;
    flex-direction: column;
}
.bar{
    font-size: 1.4rem;
    color: #fff;
    background-color: #ff6b09;
    padding: 20px 0px;
    text-align: center;
}
.order_item{
    border: solid 2px black
}