<div class="dishContainer">
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="#">Zestawy obiadowe</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Pizza</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Przekąski</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Napoje</a></li>
        </ul>
    </nav>
    <div class="dishList">
        <div class="dishItem" *ngFor="let dish of dishes">
          <app-dish-item [dish]="dish"></app-dish-item>
        
        </div>
    </div>
</div>