<div class="dishContainer">
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="#">Zestawy obiadowe</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Pizza</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Przekąski</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Napoje</a></li>
        </ul>
    </nav>
    <div class="dishList">
        <div class="dishItem" *ngFor="let dish of menu">
        <div class="container">
            <img [src]="dish.imgUrl">
            <h1>{{dish.name}}</h1>
            <hr>
            {{dish.description}}
            <hr>
            Cena: {{dish.price}}
            <button (click)="orderDish(dish)">Zamawiam</button>
        </div>
        
        </div>
    </div>
</div>